<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="listenerUri" value="http://localhost:8977"/>
    <add key="exchangeUri" value="https://myexchangeserver/EWS/Exchange.asmx"/>
    <add key="companyLogoUrl" value="http://mycompanyintranet/images/companylogo.png"/>
    <add key="pollingIntervalSeconds" value="60"/>
    <add key="availableColor" value="#8DC63F"/>
    <add key="busyColor" value="#C20000"/>
    <add key="availableRoomText" value="AVAILABLE"/>
    <add key="busyRoomText" value="IN USE"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="1500000" />
  </appSettings>
</configuration>