<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="listenerUri" value="http://localhost:8977"/>
    <add key="exchangeUri" value="https://myexchangeserver/EWS/Exchange.asmx"/>
    <add key="companyLogoUrl" value="http://mycompanyintranet/images/companylogo.png"/>
    <add key="pollingIntervalSeconds" value="60"/>
  </appSettings>
</configuration>