<ion-view>
  <ion-content ng-style="getRoomColorStyle()">

  	  <div style="position:absolute; top:0;left:0;z-index:-1">
			<div class="companyLogo">
				<img ng-src="{{companyLogoUrl}}" style="width:90px;height:90px;margin-left:5px;margin-top:5px">
			</div>
  	  </div>

  	  <div style="position:absolute; top:30px;left:0;right:0;z-index:0">			
	  	  	<div style="text-align:center">
	  	  		<h1 style="color:white">{{roomName}}</h1>			
	  	  	</div>
  	  </div>

  	  <div style="position:absolute;top:100px;left:0;z-index:1;width:100%;color:white;text-align:center">
	  	  <h3 style="color:#222">CURRENT APPOINTMENTS<span ng-show="asOf"> as of {{ getTimeString(asOf) }}</span></h3>

	  	  <div ng-hide="appointmentsLoaded">loading</div>
	  	  <div ng-show="appointmentsLoaded" ng-repeat="appointment in appointments">
	  	  	<b>{{appointment.subject}}</b> - {{appointment.startTime}} - {{appointment.endTime}}
	  	  </div>
  	  </div> 
  	  
  	  <div style="position:absolute; top:0;right:0;z-index:2">
			<button class="button button-icon button-clear ion-navicon" style="font-size:32px"
					menu-toggle="right">
        	</button>
  	  </div>
  </ion-content>

  <div style="position:absolute; bottom:50px;left:0;right:0;z-index:3" ng-show="appointmentsLoaded">			
	  	  	<div style="text-align:center;">
	  	  		<button class="button" ng-click="bookRoomButton()" style="height:60px"><span style="font-size:32px">Use This Room Now</span></button>	  	  		
	  	  	</div>
  	  </div>
</ion-view>