<ion-view>
  <ion-content style="background-color:green;">
  	  
  	  <div style="position:absolute; top:0;right:0;z-index:1">
			<button class="button button-icon button-clear ion-navicon" style="font-size:32px"
					menu-toggle="right">
        	</button>
  	  </div>

  	  <div style="position:absolute;top:0;left:0;z-index:0;width:100%;color:white;text-align:center">
	  	  <div style="text-align:center; margin-top:30px">
	  	  	<h1 style="color:white">{{roomName}}</h1>
	  	  </div>

	  	  <h4 style="margin-top:30px">CURRENT APPOINTMENTS</h4>

	  	  <div ng-repeat="appointment in appointments">
	  	  	<b>{{appointment.subject}}</b> - {{appointment.startTime}} - {{appointment.endTime}}
	  	  </div>

	  	  <div style="margin-top:100px">
	  	  		<button class="button">Book This Room</button>
	  	  </div>
  	  </div>
  	  
  </ion-content>
</ion-view>