<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Server Connection</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeServerConnectionModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="saveServerConnectionData()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Conference Room Email</span>
          <input type="email" ng-model="serverConnectionData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Server Name</span>
          <input type="text" ng-model="serverConnectionData.host">
        </label>
        <label class="item item-input">
          <span class="input-label">Server Port</span>
          <input type="number" ng-model="serverConnectionData.port">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
